.Header{
    background-repeat: repeat;       
}

.FirstL{
    position: sticky;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: rgb(0, 250, 54);
    text-align: center;
    border:groove;
    background-color: #555 ;
    z-index: 999px;
}

.About_Me{
  text-align: center;
  width: 25%;
  border: 1px solid #555;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 2px;
  margin-left:35%;
  margin-top: 15px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

button{
  background-color: #e7e7e7; 
  color: black;
 text-decoration: none;
  font-weight: bold;
}
a{
  color: inherit;
  text-decoration: none;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    font-weight: 15px;
    margin-bottom: 5px;

}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-left: 20px;
    margin-top: 0px;
    width: 75%;

}
img{
    max-width: 20%;
    height: auto;
    margin-top: -500px;
    box-sizing: border-box;
    border: 15px solid #f2f2f2;
    border-radius: 4px;
}
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  input[type=text], select, textarea {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }


  @viewport {
    width: 95%  ;
    max-width: 1024px;
    zoom: 1.0 ;
  }

  @-ms-viewport {
    width: device-width ;
  }

  @media screen and (min-width:320px) and (max-width:960px) {
  }